body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  background-color: rgb(130, 57, 53);
  flex-direction: column;
}

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  width: 400px;
  display: block;
  margin: 5px 0;
  flex-direction: row;
  align-self: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(222, 156, 83);
}

form {
  width: 900px;
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 15px;
  color: rgb(222, 211, 140);
  margin: 5px 10px;
  text-align: right;
  display: inline-block;
  width: 100px;
}

form input {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 5px;
  outline: 1;
  border: 0;
  vertical-align: top;
  width: 100px;
  background-color: rgb(222, 211, 140);
}

.form-nom {
  width: 250px;
}

.form-prenom {
  width: 250px;
}

.form-age {
  width: 250px;
}

.form-mail {
  width: 250px;
}

.form-adresse {
  width: 250px;
}

.form-date {
  width: 250px;
}

.form-num-doc {
  width: 250px;
}

.form-ref-clt {
  width: 250px;
}

.form-date {
  color: rgb(130, 57, 53);
}

.ref-table {
  margin-top: 10px;
}

.ref-table table {
  margin-left: auto;
  margin-right: auto;
}

.ref-table table th,
td {
  border: 1px solid rgb(222, 156, 83);
}

.ref-table table th {
  color: rgb(222, 211, 140);
}

.tab-button {
  flex-direction: column;
  text-align: center;
}

button {
  color: rgb(130, 57, 53);
  background-color: rgb(201, 186, 131);
  margin-top: 10px;
  border: 1px solid rgb(222, 156, 83);
  border-radius: 6px;
  cursor: pointer;
  height: 30px;
}

button:hover {
  background-color: rgb(130, 57, 53);
  color: rgb(222, 211, 140);
}

.submit {
  margin-top: 20px;
  color: rgb(130, 57, 53);
  background-color: rgb(201, 186, 131);
  border: 1px solid rgb(222, 156, 83);
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
}

.submit:hover {
  background-color: rgb(130, 57, 53);
  color: rgb(222, 211, 140);
}

/*  ------------------------ PDF ------------------------ */
.piece {
  background-color: #fff;
  height: auto;
  width: 800px;
  position: relative;
}

.logo {
  flex-direction: row;
  display: flow-root;
  align-items: center;
  margin: 5px 0px;
}

.logo img {
  margin-top: 15px;
  width: 350px;
  float: left;
  margin-left: 20px;
}

.huayi-info {
  margin-top: 15px;
  margin-right: 20px;
  float: right;
  line-height: 5px;
}

h3 {
  /* text-align: center; */
  margin: 25px 0;
}

.row-2-info {
  flex-direction: row;
  display: flow-root;
  align-items: center;
}

table,
th,
td {
  border: 1px solid black;
}

.row-2-left {
  margin-left: 25px;
  float: left;
}

.row-2-left h3 {
  line-height: 5px;
}

.row-2-right {
  margin-right: 245px;
  line-height: 5px;
  float: right;
}

.row-3 {
  margin: 25px;
}

.row-3-tab {
  width: 100%;
}

.row-4 {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.row-4-left {
  float: left;
}

.row-4-right {
  float: right;
  text-align: end;
}

.info-foot {
  margin: 25px;
  font-size: 10px;
}

/* .certification {
  position: absolute;
  right: 20px;
  text-align: center;
}

.certification img {
  width: 35px;
}

.certification p {
  font-size: 20px;
} */

.generateurBtn {
  display: flex;
}

.generateurBtn button {
  padding: 10px 30px;
  height: 44px;
  font-size: 15px;
  width: 200px;
}

.generateurBtn a {
  text-align: center;
  text-decoration: 0;
  padding: 10px 30px;
  margin-left: 20px;
  font-size: 15px;
}
